<div class="text-center">
  <div class="login-form">
    <h1>User Log In</h1>
    <br>

    <%= form_for @user, url: "/login" do |f| %>
      Username: <%= f.text_field :username, placeholder:"Enter Username"%><br />
      <br>
      Password: <%= f.password_field :password, placeholder:"Enter Password" %><br />
      <br>
      <%= f.submit "Log In", class: 'btn btn-primary'%>
    <% end %>
  
    <br>
    <br>
    
    <%if flash[:messages]%>
          <font color="red"><%= flash[:messages]%> </font>
    <%end%>

  </div>
  
</div>

