<nav class="navbar navbar-default"
    style="background-color:lightgray;">
    <div class="navbar-header">
        <a class="navbar-brand" 
            style="color:cyan;
                   font-family:impact-body;
                   font-size:85px;
                   background-color:blue;
                   border-radius: 25px;"
        >
            Refrigernation
        </a>
    </div>
    <a class="nav-link-disabled" id="logo">Making your refrigerator a better place.</a>
</nav>

<div class="d-flex justify-content-center ">
  <img class="login-image" src="https://nationwideappliancerepairs.com.au/wp-content/uploads/2018/12/samsung-fridge.jpg">

    <div class="text-center">
      <div class="login-form">
        <h3>User Log In</h3>
        <br>

        <%= form_for @user, url: "/login" do |f| %>
          Username: <%= f.text_field :username, placeholder:"Enter Username"%><br />
          <br>
          Password: <%= f.password_field :password, placeholder:"Enter Password" %><br />
          <br>
          <%= f.submit "Log In", class: 'btn btn-primary'%>
        <% end %>
        
        <br>
        <%=button_to "Sign Up", new_user_path, method: :get, class: 'btn btn-secondary'%>
      
        <br><br>
        <%if flash[:messages]%>
              <font color="red"><%= flash[:messages]%> </font>
        <%end%>

      </div>
    </div>
</div>