<h1>Please add fruits to your cart</h1>
<%= form_tag(my_cart_path) do %>
    <%@fruits.each do |fruit| %>
        <%=fruit.name%><br>
        <%=fruit.image%><br>
       <br>Quantity: <%=number_field_tag "fruits[#{fruit.id}]", 0%><br>
    <%end%>
    <%=submit_tag "Submit order"%>
<%end%>


