<h1><%=@user.name%>'s Refrigerator</h1>
<h3>Username: <%=@user.username%></h3>
<ul>
    <%@fruits.each do |fruit|%>
        <li><font size="50"><%=link_to fruit.image, item_path(Item.find_by(fruit: fruit, user: @user))%></font></li>
    <%end%>
</ul>
<%=button_to "Buy More", cart_path, method: :get%>
<%=button_to "See Fruit Dictionary", fruits_path, method: :get%>
<%=button_to "Log Out", logout_path, method: :delete%>
