<div class="smoothie-header">
    <h1><%=@smoothie.name%>'s Information:</h1>
</div>

<div class="d-flex justify-content-center">
    <img class="smoothie-image-size" src=<%="#{@smoothie.image}"%>>
    <br><br>
</div>

<div class="d-flex justify-content-center">
    <%=form_tag(make_smoothie_path, method: :get) do%>
        Quantity: <%=number_field_tag name="smoothie_servings", value=1, min: 1, numericality: {greater_than: 0} %>
        <%=submit_tag "Make Smoothie", name: nil%>
    <%end%>
</div>


